<div class="createWorld">
    <!-- button create world -->
    <button data-ng-click="vm.openCreateLightbox()">
        <i18n>minetest.create.world</i18n>
    </button>

    <lightbox class="minetest-lightbox" show="vm.lightbox.create" on-close="vm.closeCreateLightbox()">

        <!-- Title -->
        <section class="minetest-lightbox-head">
            <h3>
                <i18n>minetest.create.world</i18n>
            </h3>
        </section>

        <div class="minetest-lightbox-content">
            <!-- Image -->
            <section class="minetest-lightbox-content-upload">
                <div class="minetest-lightbox-content-upload-box">
                    <image-select id="img" class="initialFloat cell" default="/img/illustrations/image-default.svg"
                                  ng-model="vm.world.img"/>
                </div>
            </section>

            <!-- Content -->
            <section class="minetest-lightbox-content-form">
                <div class="minetest-lightbox-content-form-input-text">
                    <span class="minetest-lightbox-content-form-input-text-title">
                        <i18n>minetest.world.title</i18n>
                    </span>
                    <input type="text" class="six cell" data-ng-model="vm.world.title" />
                </div>

                <span class="minetest-lightbox-content-form-description">
                    <i18n>minetest.creation.world.description</i18n>
                </span>

                <div class="minetest-lightbox-content-form-input-checkbox">
                    <div class="minetest-lightbox-content-form-input-checkbox-password">
                        <div class="minetest-lightbox-content-form-input-text">
                            <span class="minetest-lightbox-content-form-input-text-title">
                                <i18n>minetext.password</i18n>
                            </span>
                            <input type="text" class="six cell" data-ng-model="vm.world.password" />
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Button/submit -->
        <button class="minetest-lightbox-button right-magnet"
                data-ng-disabled="!vm.world.title || !vm.world.password" data-ng-click="vm.createWorld()">
            <i18n>minetest.create</i18n>
        </button>

    </lightbox>
</div>