<div class="minetestCurrent worlds">
    <div class="card horizontal-spacing-twice vertical-spacing row">
        <div class="twelve current-container">
            <div class="eleven current-container-title">
                <!-- title -->
                <h2 class="twelve">
                    [[vm.world.title]]
                </h2>
            </div>
            <!-- open/close world -->
            <div class="six button zero-mobile">
                <button ng-show="!vm.world.isExternal" ng-class="!vm.world.status ? '' : 'custom-cancel'"
                        ng-click="vm.setStatusWorld(vm.world)" on-current-world="vm.updateWorld()">
                    <i18n ng-show="!vm.world.status">minetest.world.open</i18n>
                    <i18n ng-show="vm.world.status">minetest.world.close</i18n>
                </button>
                <span ng-show="vm.world.isExternal" class="external"><i18n>minetest.world.external</i18n></span>
            </div>
        </div>
        <div class="zero-desktop twelve-mobile url-container top-spacing-twice bottom-spacing-three">
            <div class="top-spacing-three">
                <div class="twelve-mobile url-container">
                    <div class="input-url seven-mobile cell">
                        <i18n class="bold cell">minetest.url.address</i18n>
                        <input type="text" ng-model="vm.world.link" i18n-placeholder="minetest.url.ent" readonly>
                    </div>
                    <a class="clipboard-link-field" data-clipboard-text="[[vm.world.address]]">
                        <i class="copy"></i>
                        <i18n>minetest.copy.link</i18n>
                    </a>
                </div>
                <div class="twelve-mobile url-container">
                    <div class="input-url seven-mobile cell">
                        <i18n class="bold cell">minetest.port</i18n>
                        <input type="text" ng-model="vm.world.port" readonly>
                    </div>
                    <a class="clipboard-port-field" data-clipboard-text="[[vm.world.port]]">
                        <i class="copy"></i>
                        <i18n>minetest.copy.port</i18n>
                    </a>
                </div>
            </div>
        </div>
        <div class="twelve">
            <div class="top-spacing-three">
                <div class="twelve url-container zero-mobile">
                    <i18n class="bold one cell">minetest.url.address</i18n>
                    <div class="input-url eight cell">
                        <input type="text" ng-model="vm.world.address" readonly>
                    </div>
                    <a class="clipboard-link-field" data-clipboard-text="[[vm.world.address]]">
                        <i class="copy"></i>
                        <i18n>minetest.copy.url.address</i18n>
                    </a>
                </div>
            </div>
            <div>
                <div class="twelve url-container zero-mobile">
                    <i18n class="bold one cell">minetest.port</i18n>
                    <div class="input-url eight cell">
                        <input type="text" ng-model="vm.world.port" readonly>
                    </div>
                    <a class="clipboard-port-field" data-clipboard-text="[[vm.world.port]]">
                        <i class="copy"></i>
                        <i18n>minetest.copy.port</i18n>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

