.minetest {

  &-head {
    display: flex;
    justify-content: space-between;
  }

  img {
    margin: 20px auto;
  }

  .download {
    &-description {
      display: contents;
      margin: 10px 0;
      font-weight: bold;
    }
  }

}

.empty-state {
  margin: 20px;

  &-button {
    display: flex;
    text-align: center;
    margin: auto;
  }
}

.empty-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}


$alert-height: 117px;
$white: #fff;

.widget-alerts {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-template-rows: $alert-height;
  }

  .widget-alert {
    border-radius: 7px;
    background-color: $white;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.21);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:after {
      content: ' ';
      width: 100%;
      height: 10px;
      position: absolute;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
      bottom: 0;
      right: 0;
    }

    &.bold {
      font-weight: bold;
    }

    .value {
      font-size: 50px;
      font-weight: bold;
      margin-top: 25px;
    }

    .subtitle {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }


  .grid-block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .padding-10 {
    padding: 10px;
  }

  .padding-13 {
    padding: 13px;
  }

  .margin-top-5 {
    margin-top: 5px;
  }

  .margin-right-5 {
    margin-right: 5px;
  }

  .card-alert {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 245px;
    height: 90px;
    display: inline-table;
    margin: 10px;
  }

  .space-between {
    justify-content: space-between;
  }

  .selected {
    background-color: #4bafd5;
    &:after {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

}

//.grid {
//  display: grid;
//  grid-template-columns: repeat(3, 1fr);
//  grid-gap: 25px;
//
//  .flex-card {
//    height: 130px;
//    display: flex;
//    .icon {
//      width: 30%;
//      .img-container {
//        border-radius: 4px;
//        img, .img {
//          width: 25px;
//          height: 25px;
//          margin: 10px;
//          fill: white;
//        }
//      }
//    }
//    .title {
//      width: 60%;
//    }
//    .dots-menu {
//      width: 10%;
//    }
//  }
//}

.minetest-lightbox {

  &-content {
    display: flex;
    justify-content: space-between;

    &-upload {
      display: flex;
      width: 25%;
      margin: 10px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 10px;

      &-input-text {
        display: flex;
        &-title {
          margin-right: 10px;
        }
      }

      &-description {
        margin: 10px 0;
      }

      &-input-checkbox-title {
        margin-right: 10px;
      }

      &-password {
        display: flex;
        margin: 10px 25px;
      }
    }
  }
}

.toggle-buttons {

  /* use display to cancel 'hide' class */
  &.display {
    max-height: 150px;
  }
}