.minetest {

  &-head {
    display: flex;
    justify-content: space-between;
  }

  img {
    margin-right: 10px;
  }

  .download {
    &-description {
      display: contents;
      margin: 10px 0;
      font-weight: bold;
    }
  }

}

.empty-state {
  margin: 20px;

  &-button {
    display: flex;
    text-align: center;
    margin: auto;
  }
}

.empty-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

$white: #fff;

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-top: 25px;

  .flex-card {
    height: 130px;
    display: flex;
    .icon {
      width: 35%;
    }
    .title {
      width: 65%;

      .owner > h5 {
        margin: 0;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

.minetest-lightbox {

  &-content {
    display: flex;
    justify-content: space-between;

    &-upload {
      display: flex;
      width: 25%;
      margin: 10px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: 10px;

      &-input-text {
        display: flex;
        &-title {
          margin-right: 10px;
        }
      }

      &-description {
        margin: 10px 0;
      }

      &-input-checkbox-title {
        margin-right: 10px;
      }

      &-password {
        display: flex;
        margin: 10px 25px;
      }
    }
  }
}