.minetestInvitation {
  .custom-cancel {
    color: $minetest-orange;
    background: $minetest-grey;
    font-size: 14px;
  }

  .custom-cancel:hover {
    background: $minetest-orange;
    color: $minetest-white;
    font-size: 14px;
  }

  .custom-button {
    background: $minetest-orange;
    color: $minetest-white;
    font-size: 14px;
  }

  .custom-button:hover {
    background-color: $minetest-dark-orange;
    box-shadow: none;
    color: $minetest-white;
    font-size: 14px;
  }

  .custom-button[disabled=disabled] {
    color: #b1b6bf;
    background: #8c939e;
    cursor: default;
  }
}

.receivers{
  margin-bottom: 21px;
}