<div class="minetestProperties">

    <!-- button properties world -->
    <button data-ng-click="vm.openPropertiesWorldLightbox()">
        <i18n>minetest.properties</i18n>
    </button>

    <!-- popup modal to update world -->
    <lightbox show="vm.lightbox.properties" on-close="vm.closeUpdateLightbox()">
        <!-- title -->
        <h2>
            <i18n>minetest.world.properties</i18n>
        </h2>

        <section class="minetest-lightbox-content-form">
            <div class="minetest-lightbox-content-form-input-text">
                <span class="minetest-lightbox-content-form-input-text-title"><i18n>minetest.world.title</i18n></span>
                <input type="text" class="six cell" data-ng-model="vm.world.title" />
            </div>

            <div class="minetest-lightbox-content-form-input-checkbox">
                <div class="minetest-lightbox-content-form-input-checkbox-password">
                    <div class="minetest-lightbox-content-form-input-text">
                        <span class="minetest-lightbox-content-form-input-text-title"><i18n>minetext.password</i18n></span>
                        <input type="text" class="six cell" data-ng-model="vm.world.password" />
                    </div>
                </div>
            </div>

            <div class="twelve">
                <div class="top-spacing-three">
                    <div class="twelve url-container zero-mobile">
                        <i18n class="bold one cell">minetest.url.address</i18n>
                        <div class="input-url nine cell">
                            <input type="text" ng-model="vm.world.address" readonly>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="twelve url-container zero-mobile">
                        <i18n class="bold one cell">minetest.port</i18n>
                        <div class="input-url nine cell">
                            <input type="text" ng-model="vm.world.port" readonly>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- button action delete -->
        <button class="right-magnet" ng-click="vm.updateWorld()"><i18n>minetest.world.update</i18n></button>
    </lightbox>
</div>