<div class="minetestProperties">

    <!-- button properties world -->
    <button data-ng-click="vm.openPropertiesLightbox()">
        <i18n>minetest.properties</i18n>
    </button>

    <!-- popup modal to update world -->
    <lightbox class="minetest-lightbox" show="vm.lightbox.properties" on-close="vm.closePropertiesLightbox()">

        <!-- Title -->
        <section class="minetest-lightbox-head">
            <h3>
                <i18n>minetest.world.properties</i18n>
            </h3>
        </section>

        <div class="minetest-lightbox-content">

            <!-- Image -->
            <section class="minetest-lightbox-content-upload">
                <div class="minetest-lightbox-content-upload-box">
                    <image-select id="img" class="initialFloat cell" default="/img/illustrations/image-default.svg"
                                  ng-model="vm.worldForm.img"/>
                </div>
            </section>

            <!-- Content -->

            <!-- Form -->
            <section class="minetest-lightbox-content-form">
                <div class="cell twelve minetest-lightbox-content-form-input-text">
                    <!-- Title -->
                    <span class="cell three minetest-lightbox-content-form-input-text-title">
                       <i18n>minetest.world.title</i18n>
                    </span>
                    <input type="text" class="seven cell" data-ng-model="vm.worldForm.title"/>
                </div>

                <!-- Address -->
                <div class="cell twelve minetest-lightbox-content-form-input-text">
                    <span class="cell three minetest-lightbox-content-form-input-text-title">
                        <i18n>minetest.url.address</i18n>
                    </span>
                    <input ng-show="!vm.world.isExternal" type="text" class="seven cell"
                           data-ng-model="vm.worldForm.address" readonly/>
                    <input ng-show="vm.world.isExternal" type="text" class="seven cell"
                           data-ng-model="vm.worldForm.address"/>
                </div>

                <!-- Port -->
                <div class="cell twelve minetest-lightbox-content-form-input-text">
                    <span class="cell three minetest-lightbox-content-form-input-text-title">
                        <i18n>minetest.port</i18n>
                    </span>
                    <input ng-show="!vm.world.isExternal" type="text" class="seven cell"
                           data-ng-model="vm.worldForm.port" readonly/>
                    <input ng-show="vm.world.isExternal" type="text" class="seven cell"
                           data-ng-model="vm.worldForm.port" pattern="\d{1,5}" title="[[vm.lightbox.portAlert]]"/>
                </div>

                <!-- Password -->
                <div ng-show="!vm.world.isExternal" class="cell twelve minetest-lightbox-content-form-input-text">
                    <span class="cell three minetest-lightbox-content-form-input-text-title">
                        <i18n>minetext.password</i18n>
                    </span>
                    <a class="cell seven minetest-lightbox-content-form-input-text-reset-password"
                          ng-show="!vm.showInputPassword" ng-click="vm.resetPassword()">
                        <i18n>minetest.reset.password</i18n>
                    </a>
                    <input type="text" class="cell seven " ng-show="vm.showInputPassword"
                           data-ng-model="vm.worldForm.password"/>
                </div>

                <div ng-show="!vm.world.isExternal" class="cell twelve minetest-lightbox-content-form-input-text">
                    <span class="cell three minetest-lightbox-content-form-input-text-title"></span>
                    <span class="cell seven minetest-lightbox-content-form-input-text-explanation">
                        <i18n>minetest.reset.password.explanation</i18n>
                    </span>
                </div>

                <!-- Shutting down world -->
                <div class="cell twelve minetest-lightbox-content-form-switch">
                    <span class="cell minetest-lightbox-content-form-input-text-title">
                        <i18n>minetest.shutting.world.automatically</i18n>
                    </span>
                    <switch ng-model="vm.shuttingDown">
                        <label class="switch"></label>
                    </switch>
                </div>

            </section>

        </div>

        <!-- button action update -->
        <button ng-show="!vm.world.isExternal" class="custom-button right-magnet" ng-click="vm.updateWorld()"
                data-ng-disabled="vm.worldForm.title.length < 1 || (vm.showInputPassword && vm.worldForm.password.length < 1)">
            <i18n>minetest.world.update</i18n>
        </button>
        <button ng-show="vm.world.isExternal" class="custom-button right-magnet" ng-click="vm.updateImportWorld()"
                data-ng-disabled="vm.worldForm.title.length < 1 || vm.worldForm.address.length < 1
                || vm.worldForm.port.length < 1 || !vm.isPortValid()">
            <i18n>minetest.world.update</i18n>
        </button>
    </lightbox>
</div>