<div ng-controller="MinetestController as vm">

    <div class="minetest-head">
        <h1 class="minetest-head-title">
            <i18n>minetest.title</i18n>
        </h1>

        <!-- button create first world -->
        <create-world data-ng-show="vm.worlds.all.length > 0" on-create-world="vm.refreshWorldList()"></create-world>
    </div>

    <!-- Empty state -->
    <div class="empty-content" data-ng-show="vm.worlds.all.length === 0">
        <img data-ng-src="/minetest/public/img/illustration_sans_monde.svg" class="two" alt="">
        <div class="download-description">
            <i18n>minetest.download.software.link.description</i18n>
            <a href="https://www.minetest.net/downloads/" target=_blank><i18n>minetest.download.software.link</i18n></a>
        </div>
        <div class="empty-state">
            <i18n>minetest.world.empty.state</i18n>
        </div>
        <!-- button create world -->
        <create-world class="empty-state-button" on-create-world="vm.refreshWorldList()"></create-world>

    </div>

    <div class="cards-view twelve">
        <div class="row" ng-show="vm.worlds.all.length > 0">
            <!-- display current world -->
            <current-world world="vm.currentWorld"></current-world>
            <div class="grid">
                <div class="flex-card card cell center-component f-row flex-row horizontal-spacing twelve-mobile"
                     ng-click="vm.toggleWorld(world)"
                     ng-class="vm.selectedRoom == room ? 'active' : ''"
                     ng-repeat="world in vm.worlds.all"
                     data-ng-model="selected">
                    <div class="icon">
                        <div class="img-container center-component">
                            <img data-ng-src="/minetest/public/img/illustration_sans_monde.svg"
                                 data-ng-if="world.img === null || world.img === undefined"
                                 alt="">
                            <img data-ng-src="[[world.img]]"
                                 data-ng-if="world.img !== null || world.img !== undefined"
                                 alt="">
                        </div>
                    </div>
                    <div class="title align-start center-component flex-row vertical-spacing-twice">
                        <h4>[[world.title]]</h4>
                        <div class="owner"><h5>[[world.owner_name]]</h5></div>
                        <em>
                            [[world.status]]
                            <i18n>minetest.the</i18n> [[world.created_at]]
                        </em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toggle menu on click card -->
    <toggle-menu on-delete-world="vm.refreshWorldList()" worlds="vm.worlds"></toggle-menu>
</div>