<div ng-controller="MinetestController as vm">

    <div class="minetest-head">
        <div>
            <h1 class="minetest-head-title">
                <i18n>minetest.title</i18n>
            </h1>
            <span ng-show="vm.worlds.all.length > 0" class="minetest-head-download">
                <i18n class="minetest-head-download-text">minetest.info.download.software.link</i18n>
                <a href=[[vm.getLink()]] target=_blank>
                    [[vm.getLink()]]
                </a>
            </span>
        </div>
        <!-- button import first world -->
        <import-world data-ng-show="vm.worlds.all.length > 0" on-import-world="vm.refreshWorldList()"></import-world>
        <!-- button create first world -->
        <create-world data-ng-show="vm.worlds.all.length > 0" on-create-world="vm.refreshWorldList()"></create-world>
    </div>

    <!-- Empty state -->
    <div class="empty-content" data-ng-show="vm.worlds.all.length === 0">
        <img data-ng-src="/minetest/public/img/illustration_sans_monde.svg" class="two" alt="">
        <div class="download-description">
            <i18n>minetest.download.software.link.description</i18n>
            <a href=[[vm.getLink()]] target=_blank>[[vm.getLink()]]</a>
        </div>
        <div class="empty-state">
            <i18n>minetest.world.empty.state</i18n>
        </div>
        <!-- button import world -->
        <import-world class="empty-state-button" on-import-world="vm.refreshWorldList()"></import-world>
        <!-- button create world -->
        <create-world class="empty-state-button" on-create-world="vm.refreshWorldList()"></create-world>
    </div>

    <!-- Display worlds -->
    <div class="cards-view twelve">
        <div class="row" ng-show="vm.worlds.all.length > 0">
            <!-- display current world -->
            <current-world world="vm.currentWorld" on-current-world="vm.onCurrentWorld()"></current-world>
            <div class="grid">
                <div class="flex-card card cell f-row flex-row twelve-mobile"
                     data-ng-click="vm.currentWorld = world"
                     ng-class="vm.currentWorld == world ? 'active' : ''"
                     ng-repeat="world in vm.worlds.all">
                    <div class="four icon">
                        <img data-ng-src="/minetest/public/img/pages-default.png"
                             data-ng-if="world.img === null || world.img === undefined || world.img === ''"
                             alt="">
                        <img data-ng-src="[[world.img]]"
                             data-ng-if="world.img !== null || world.img !== undefined || world.img === ''"
                             alt="">
                    </div>
                    <div class="eight title align-start center-component flex-row">
                        <h4 class="row ellipsis">[[world.title]]</h4>
                        <div class="owner"><h5>[[world.owner_name]]</h5></div>
                        <em>
                            [[vm.setStatus(world)]]
                            <i18n>minetest.the</i18n> [[world.updated_at]]
                        </em>
                    </div>
                </div>
            </div>
        </div>

        <!-- toggle menu -->
        <toggle-menu ng-if="vm.currentWorld" world="vm.currentWorld"
                     on-update-world="vm.refreshWorldList()" on-delete-world="vm.refreshWorldList()">
        </toggle-menu>
    </div>
</div>