<div class="minetestFollow">

    <!-- button follow world -->
    <button data-ng-click="vm.openFollowLightbox()" on-follow-world="vm.refreshWorldList()">
        <i18n>minetest.follow.world</i18n>
    </button>

    <!-- popup modal to import world -->
    <lightbox class="minetest-lightbox" show="vm.lightbox.follow" on-close="vm.closeFollowLightbox()">

        <!-- Title -->
        <section class="minetest-lightbox-head">
            <h3>
                <i18n>minetest.follow.invitation</i18n>
            </h3>
        </section>

        <section class="minetest-lightbox-content-table">
            <!-- Content -->
            <div class="minetest-lightbox-content-title">
                <i18n ng-show="!vm.world.isExternal">minetest.follow.users.can.access.world</i18n>
                <i18n ng-show="vm.world.isExternal">minetest.follow.users.invitate.world</i18n>
                <span class="bold">[[vm.world.title]]</span>
            </div>
            <div class="minetest-lightbox-content-title" ng-show="!vm.world.isExternal">
                <i18n>minetest.follow.users.infos</i18n>
            </div>

            <div ng-show="!vm.showTable()">
                <i18n>minetest.follow.user.empty</i18n>
            </div>

            <div ng-show="vm.showTable()">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="one">
                                <div>
                                    <span><i18n>minetest.last.name</i18n></span>
                                </div>
                            </th>
                            <th class="one">
                                <div>
                                    <span><i18n>minetest.first.name</i18n></span>
                                </div>
                            </th>
                            <th class="one">
                                <div>
                                    <span><i18n>minetest.login</i18n></span>
                                </div>
                            </th>
                            <th class="one-small">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.world.whitelist | orderBy:'lastName'">
                            <td>[[user.lastName]]</td>
                            <td>[[user.firstName]]</td>
                            <td>[[user.login]]</td>
                            <td><i class="close" ng-click="vm.removeUser(user.login)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <button class="custom-button right-magnet" ng-click="vm.openInvitation()">
            <i18n>minetest.invite.user</i18n>
        </button>
    </lightbox>
</div>