<div class="invitationWorld">

    <!-- button invitation world -->
    <button data-ng-click="vm.openInvitationLightbox()">
        <i18n>minetest.invite</i18n>
    </button>

    <!-- popup modal to invit users -->
    <lightbox show="vm.lightbox.invitation" on-close="vm.closeInvitationLightbox()">
        <!-- title -->
        <h2>
            <i18n>minetest.invitation.default.subject</i18n>
        </h2>
        <div>
            <div style="margin-top:5%">
                <div class="row receivers">
                    <recipient-list
                            ng-model="vm.mail.invitees"
                            restriction= false
                            update-found-items="vm.updateFoundUsers(search, model, founds)">
                    </recipient-list>
                </div>
                <label style="display: flex;">
                    <i18n style="font-weight: bold">minetest.invitation.object.label</i18n>
                    <input type="text" class="eight" ng-model="vm.mail.subject" i18n-placeholder="minetest.world.to.join"/>
                </label>
                <div class="row horizontal-spacing">
                    <div class="twelve cell escape_cke" bind-html="vm.mail.body"></div>
                </div>
            </div>
        </div>
        <button class="custom-button right-magnet" ng-click="vm.sendInvitation()"><i18n>minetest.send</i18n></button>
        <button class="custom-cancel right-magnet" ng-click="vm.closeInvitationLightbox()"><i18n>minetest.cancel</i18n></button>
    </lightbox>

</div>